{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['localSettingSaveBtn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('basic', '기본', true) }}
      {{ macros.m_tab_head('wavve', '웨이브', false) }}
      {{ macros.m_tab_head('tving', '티빙', false) }}
      {{ macros.m_tab_head('ott_etc', '기타', false) }}
      {{ macros.m_tab_head('streamlink', 'Streamlink', false) }}
      {{ macros.m_tab_head('direct', '고정주소', false) }}
      {{ macros.m_tab_head('api', 'API', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('basic', true) }}
      {{ macros.setting_button_with_info([['source_map_reload', '새로고침']], left='소스 다시 읽기', desc=['인증(크리덴셜, 토큰)과 프록시를 다시 적용하며 세션과 캐시가 초기화 됩니다. 재생 중인 방송이 끊길 수 있습니다.']) }}
      {{ macros.setting_input_int('channel_list_max_age', '채널 목록 유효 시간', value=arg['channel_list_max_age'], min='0', desc=['마지막으로 채널 목록을 얻어 온 후 이 시간이 지나면 강제로 새로고침 합니다. 0이면 새로고침 하지 않음. 단위: 분']) }}
      {{ macros.setting_checkbox('channel_list_on_plugin_load', '시작할 때 채널 목록 읽기', value=arg['channel_list_on_plugin_load'], desc=['플러그인 로딩 시 채널 목록을 읽어옵니다.']) }}
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('wavve', false) }}
      {{ macros.setting_checkbox('use_wavve', '웨이브', value=arg['use_wavve'], desc=['support site 플러그인을 설치하고 계정 정보를 입력하세요','계정 정보 유무, 스트리밍 타입, 플레이어에 따라 달라질 수 있음']) }}
      <div id="use_wavve_div" class="collapse">
        {{ macros.setting_select('wavve_quality', '웨이브 화질', [['FHD','FHD'], ['HD','HD'], ['SD', 'SD']], col='3', value=arg['wavve_quality'])}}
        {{ macros.setting_radio_with_value('wavve_streaming_type', '웨이브 스트리밍 타입', [['redirect', 'Redirect'], ['direct', 'Direct'], ['proxy', 'Proxy']], value=arg['wavve_streaming_type'], desc=['웨이브는 방송 요청을 한 IP와 Player IP가 일치해야만 합니다.', ' - Redirect: 가장 좋지만 Player에 따라 10분 후 중지될 수 있습니다. 중지가 안된다면 이 방법으로 사용하세요. 동일 네트워크의 Tvheadend에 연결할 때 사용합니다.', ' - Direct: FF와 Player가 동일 네트워크 일 때 사용합니다. Proxy 옵션보다 성능이 좋습니다.', ' - Proxy: 타 네트워크에서 재생할 때 사용합니다. FF가 방송 데이터를 받아서 Player에 보냅니다.']) }}
      </div>
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('tving', false) }}
      {{ macros.setting_checkbox('use_tving', '티빙', value=arg['use_tving'], desc=['support site 플러그인을 설치하고 티빙 토큰을 입력하세요']) }}
      <div id="use_tving_div" class="collapse">
        {{ macros.setting_select('tving_quality', '티빙 화질', [['FHD','FHD'], ['HD','HD'], ['SD', 'SD']], col='3', value=arg['tving_quality'])}}
        {{ macros.setting_checkbox('tving_include_drm', 'DRM 채널 포함', value=arg['tving_include_drm'], desc=['On: OCN 등 DRM 채널 포함.']) }}
      </div>
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('ott_etc', false) }}
      {{ macros.setting_checkbox('use_kbs', 'KBS', value=arg['use_kbs'], desc=None) }}
      <div id="use_kbs_div" class="collapse">
        {{ macros.setting_checkbox('kbs_include_vod_ch', '정주행 채널 포함', value=arg['kbs_include_vod_ch'], desc=None) }}
        {{ macros.setting_checkbox('kbs_use_proxy', 'Proxy 사용', value=arg['kbs_use_proxy'], desc=['URL을 얻을 때만 사용']) }}
        <div id="kbs_use_proxy_div" class="collapse">
          {{ macros.setting_input_text('kbs_proxy_url', 'Proxy URL', value=arg['kbs_proxy_url'], desc=None) }}
        </div>
      </div>
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('use_mbc', 'MBC', value=arg['use_mbc'], desc=None) }}
      <div id="use_mbc_div" class="collapse">
        {{ macros.setting_checkbox('mbc_use_proxy', 'Proxy 사용', value=arg['mbc_use_proxy']) }}
        <div id="mbc_use_proxy_div" class="collapse">
          {{ macros.setting_input_text('mbc_proxy_url', 'Proxy URL', value=arg['mbc_proxy_url'], desc=None) }}
          {{ macros.setting_checkbox('mbc_use_proxy_for_playlist', '재생 시 Proxy 사용', value=arg['mbc_use_proxy_for_playlist'], desc=['On: 재생할 때도 사용, Off: URL 얻을 때만 사용']) }}
        </div>
      </div>
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('use_sbs', 'SBS', value=arg['use_sbs'], desc=None) }}
      <div id="use_sbs_div" class="collapse">
        {{ macros.setting_checkbox('sbs_include_vod_ch', '정주행 채널 포함', value=arg['sbs_include_vod_ch'], desc=None) }}
        {{ macros.setting_checkbox('sbs_use_proxy', 'Proxy 사용', value=arg['sbs_use_proxy'], desc=['URL을 얻을 때만 사용']) }}
        {{ macros.setting_input_text('sbs_proxy_url', 'Proxy URL', value=arg['sbs_proxy_url'], desc=None) }}
      </div>
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('streamlink', false) }}
      {{ macros.setting_checkbox('use_streamlink', 'Streamlink', value=arg['use_streamlink'], desc=['pip install \'streamlink<6.6\'로 직접 설치 후 사용', '최신 버전은 에러가 납니다. 6.6 미만 설치']) }}
      <div id="use_streamlink_div" class="collapse">
        {{ macros.info_text('is_streamlink_installed', '설치상태', value=arg['is_streamlink_installed']) }}
        {{ macros.setting_input_text('streamlink_quality', 'streamlink 화질', col='3', value=arg['streamlink_quality']) }}
        {{ macros.setting_input_textarea_wide('streamlink_list', '채널 목록', desc=['형식 : 채널ID|채널이름|채널URL', '채널별 구분자 Enter'], value=arg['streamlink_list'], row='20') }}
      </div>
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('direct', false) }}
      {{ macros.setting_checkbox('use_fix_url', '고정주소', value=arg['use_fix_url'], desc=None) }}
      <div id="use_fix_url_div" class="collapse">
        {{ macros.setting_input_textarea_wide('fix_url_list', '채널 목록', desc=['형식 : 채널ID|채널이름|채널URL|{TV면 Y, 라디오면 N}', '채널별 구분자 Enter', '참고 : https://iptvcat.com/south_korea'], value=arg['fix_url_list'], row='20') }}
      </div>
    {{ macros.m_tab_content_end() }}


    {{ macros.m_tab_content_start('api', false) }}
      {{ macros.info_text_go_buttons('api_m3u', 'M3U', [['globalCliboardBtn','클립보드에 복사', [['text', arg['api_m3u']]]]], value=arg['api_m3u'], desc=['채널 그룹에 대한 M3U', 'ⓌⓉ와 같이 채널명에 소스를 표시하려면 다음의 url parameter를 추가: srcChar=y']) }}
      {{ macros.info_text_go_buttons('api_m3utvh', 'M3U for Tvh', [['globalCliboardBtn','클립보드에 복사', [['text', arg['api_m3utvh']]]]], value=arg['api_m3utvh'], desc=['Tvheadend 채널 등록시 사용하는 M3U', 'ⓌⓉ와 같이 채널명에 소스를 표시하려면 다음의 url parameter를 추가: srcChar=y']) }}
      {{ macros.info_text_go_buttons('api_m3uall', 'M3U for All', [['globalCliboardBtn','클립보드에 복사', [['text', arg['api_m3uall']]]]], value=arg['api_m3uall'], desc=['전체 채널에 대한 M3U']) }}
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('use_plex_proxy', 'Plex Proxy 사용', value=arg['use_plex_proxy'], desc=['On: Plex Proxy 사용.', '/alive/proxy/lineup.json 주소를 통한 apikey 노출 됨.']) }}
      <div id="use_plex_proxy_div" class="collapse">
        {{ macros.setting_input_text('plex_proxy_host', 'Plex Proxy Host', value=arg['plex_proxy_host'], desc=['요청 헤더의 값과 일치할 때만 연결합니다. 비워두면 제한 없음.']) }}
        {{ macros.info_text_go_buttons('plex_proxy', 'Plex Proxy', [['globalCliboardBtn','클립보드에 복사', [['text', arg['plex_proxy']]]]], value=arg['plex_proxy']) }}
      </div>
    {{ macros.m_tab_content_end() }}
    </form>
</div>

<script type="text/javascript">
var streamlink_installed = "{{ arg['is_streamlink_installed'] }}"  == 'Installed' ? true : false;


$(document).ready(function(){
  use_collapse("use_wavve")
  use_collapse("use_tving")
  use_collapse("use_kbs")
  use_collapse("kbs_use_proxy")
  use_collapse("use_mbc")
  use_collapse("mbc_use_proxy")
  use_collapse("use_sbs")
  use_collapse("use_streamlink")
  use_collapse("use_fix_url")
  use_collapse("use_plex_proxy");
});

$('#use_wavve').change(function() {use_collapse('use_wavve');});
$('#use_tving').change(function() {use_collapse('use_tving');});
$('#use_kbs').change(function() {use_collapse('use_kbs');});
$('#kbs_use_proxy').change(function() {use_collapse('kbs_use_proxy');});
$('#use_mbc').change(function() {use_collapse('use_mbc');});
$('#mbc_use_proxy').change(function() {use_collapse('mbc_use_proxy');});
$('#use_sbs').change(function() {use_collapse('use_sbs');});
$('#use_streamlink').change(function() {use_collapse('use_streamlink');});
$('#use_fix_url').change(function() {use_collapse('use_fix_url');});
$('#use_plex_proxy').change(function() {use_collapse('use_plex_proxy');});

$("body").on('click', '#localSettingSaveBtn', function(e){
  e.preventDefault();
  var formData = getFormdata('#setting');
  $.ajax({
    url: `/${PACKAGE_NAME}/ajax/setting_save_and_reload`,
    type: "POST",
    cache: false,
    data: formData,
    dataType: "json",
    success: function (ret) {
      if (ret) {
        $.notify('<strong>설정을 저장하였습니다.</strong>', {
          type: 'success'
        });
        globalSettingSaveAfter();
      } else {
        $.notify('<strong>설정 저장에 실패하였습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});

$("body").on('click', '#source_map_reload', function(e){
  e.preventDefault();
  $.ajax({
    url: `/${PACKAGE_NAME}/ajax/source_reload`,
    type: "POST",
    cache: false,
    dataType: "json",
    success: function (ret) {
      if (ret) {
        $.notify('<strong>새로고침 하였습니다.</strong>', {
          type: 'success'
        });
      } else {
        $.notify('<strong>새로고침에 실패했습니다.</strong>', {
          type: 'warning'
        });
      }
    }
  });
});


</script>
{% endblock %}