{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['list_channel_reload_btn', '새로고침']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}

  {# {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }} #}
  <p id="list_info" class="mt-0 mb-1 text-sm small text-muted"></p>
<div id="list_div" class="mb-3"></div>

</div> <!--전체-->
<form name="playform">
  <input type="hidden" id="play_title" name="play_title">
  <input type="hidden" id="play_source_src"  name="play_source_src">
  <input type="hidden" id="play_source_type"  name="play_source_type">
</form>

<script type="text/javascript">
var package_name = "{{arg['package_name']}}"
var current_data = null;

$(document).ready(function(){
  load_channel_list(false);
});

function load_channel_list(reload) {
  $.ajax({
    url: `/${PACKAGE_NAME}/ajax/channel_list`,
    type: "POST",
    cache: false,
    data: {reload: reload},
    dataType: "json",
    success: function (data) {
      $('#list_info').html(`마지막 업데이트: ${data.updated_at}`);
      make_list(data.list);
    }
  });
}


$("body").on('click', '#list_channel_reload_btn', function(e) {
  e.preventDefault();
  load_channel_list(true)
});

function get_play_url(source, channel_id, web_play, callback) {
  $.ajax({
    url: `/${PACKAGE_NAME}/ajax/play_url`,
    type: "POST",
    cache: false,
    data: {source: source, channel_id: channel_id, web_play: web_play},
    dataType: "json",
    success: function (ret) {
      callback(ret);
    }
  });
}

$("body").on('click', '#play_btn', function(e){
  e.preventDefault();
  get_play_url($(this).data('source'), $(this).data('id'), true, function(ret) {
    if (ret.data == null) {
      notify('에러', 'danger');
      return;
    }
    var form = document.playform;
    var url = '/videojs';
    var popupWidth = 980;
    var leftPos = screen.width - popupWidth;
    window.open('', ret.data.url, "location=no, directories=no,resizable=no,status=no,toolbar=no,menubar=no,width=" + popupWidth + ", height=560, top=100, left=" + leftPos);
    form.action = url;
    form.method = "post";
    form.target = ret.data.url;
    $('#play_title').val(ret.data.title);
    $('#play_source_src').val(ret.data.url);
    $('#play_source_type').val('application/x-mpegURL');
    form.submit();
  });
});

$("body").on('click', '#play_url_btn', function(e){
  e.preventDefault();
  get_play_url($(this).data('source'), $(this).data('id'), false, function(ret) {
    if (ret.data == null) {
      notify('에러', 'danger');
      return;
    }
    str = ret.data.url + '<br><br>';
    tmp = j_button('globalCliboardBtn', '클립보드 복사', {'text':ret.data.url}, 'success');
    tmp += j_button('globalOpenBtn', '새창에서 열기', {'url':ret.data.url}, 'success');
    str += j_button_group(tmp);
    showModal(str, ret.data.title, false);
  });
});

function make_list(data) {
  current_data = data;
  str = `
    <table id="result_table" class="table table-sm tableRowHover">
      <thead class="thead-dark"><tr>
        <th style="width:5%; text-align:center;"></th>
        <th style="width:7%; text-align:left;">소스</th>
        <th style="width:20%; text-align:left;">채널</th>
        <th style="width:53%; text-align:left;">방송 중 프로그램</th>
        <th style="width:15%; text-align:center;">Action</th>
      </tr></thead>
      <tbody id="list">`;

  count = 0;
  if (data == null) {
    str += '<tr><td colspan="6"><h4>로딩중...</h4></td></tr>';
  } else {
    for (i in data) {
      str += '<tr class="chover" style="cursor: pointer;" data-toggle="collapse" data-target="#collapse_' + i + '" aria-expanded="true" >';
      str += `<td scope="col" style="width:5%; text-align:center;">${parseInt(i)+1}</td>`;
      str += `<td scope="col" style="width:7%; text-align:left;" title="${data[i].source}">${data[i].source_name}</td>`;
      str += `<td scope="col" style="width:20%; text-align:left;" title="${data[i].channel_id}">${data[i].title}</td>`;
      str += `<td scope="col" style="width:53%; text-align:left;">${data[i].current ? data[i].current : ''}</td>`;
      buttons = '';
      if (data[i].source == 'wavve' || data[i].source == 'tving' || data[i].source == 'mbc' ) {
        buttons += j_button('play_btn', 'PLAY', {'source':data[i].source,'id':data[i].channel_id}, 'success', false, true);
      }
      buttons += j_button('play_url_btn', 'URL', {'source':data[i].source,'id':data[i].channel_id}, 'info', false, true);
      buttons = j_button_group(buttons);
      str += '<td scope="col" style="width:15%; text-align:center;">' + buttons + '</td>';
      str += '</tr>';
      count++;
    }
    if (count == 0) str += '<tr><td colspan="6"><h4>데이터가 없습니다.</h4></td></tr>';
  }
  str += '</table>';
  $("#list_div").html(str);
}
</script>    
{% endblock %}