{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['globalSettingSaveBtn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head('wavve', '웨이브', true) }}
      {{ macros.m_tab_head('tving', '티빙', false) }}
      {{ macros.m_tab_head('ott_etc', '기타', false) }}
      {{ macros.m_tab_head('youtubedl', 'Youtube-dl', false) }}
      {{ macros.m_tab_head('streamlink', 'Streamlink', false) }}
      {{ macros.m_tab_head('navertv', '네이버TV', false) }}
      {{ macros.m_tab_head('kakaotv', '카카오TV', false) }}
      {{ macros.m_tab_head('direct', '고정주소', false) }}
      {{ macros.m_tab_head('api', 'API', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('wavve', true) }}
      {{ macros.setting_checkbox('use_wavve', '웨이브', value=arg['use_wavve'], desc=['support site 플러그인을 설치하고 계정 정보를 입력하세요','계정 정보 유무, 스트리밍 타입, 플레이어에 따라 달라질 수 있음']) }}
      <div id="use_wavve_div" class="collapse">
        {{ macros.setting_select('wavve_quality', '웨이브 화질', [['FHD','FHD'], ['HD','HD'], ['SD', 'SD']], col='3', value=arg['wavve_quality'])}}
        {{ macros.setting_radio_with_value('wavve_streaming_type', '웨이브 스트리밍 타입', [['direct', 'Direct'], ['proxy', 'Proxy'], ['redirect', 'Redirect']], value=arg['wavve_streaming_type'], desc=['웨이브는 방송 요청을 한 IP와 Player IP가 일치해야만 합니다.', ' - Redirect: 가장 좋지만 Player에 따라 10분 후 중지될 수 있습니다. 중지가 안된다면 이 방법으로 사용하세요. 동일 네트워크의 Tvheadend에 연결할 때 사용합니다.', ' - Direct: FF와 Player가 동일 네트워크 일 때 사용합니다. Proxy 옵션보다 성능이 좋습니다.', ' - Proxy: 타 네트워크에서 재생할 때 사용합니다. FF가 방송 데이터를 받아서 Player에 보냅니다.']) }}
      </div>
    {{ macros.m_tab_content_end() }} 

    {{ macros.m_tab_content_start('tving', false) }}
      {{ macros.setting_checkbox('use_tving', '티빙', value=arg['use_tving'], desc=['support site 플러그인을 설치하고 티빙 토큰을 입력하세요']) }}
      <div id="use_tving_div" class="collapse">
        {{ macros.setting_select('tving_quality', '티빙 화질', [['FHD','FHD'], ['HD','HD'], ['SD', 'SD']], col='3', value=arg['tving_quality'])}}
        {{ macros.setting_checkbox('tving_include_drm', 'DRM 채널 포함', value=arg['tving_include_drm'], desc=['On: OCN 등 DRM 채널 포함.']) }}
      </div>
    {{ macros.m_tab_content_end() }} 

    {{ macros.m_tab_content_start('ott_etc', false) }}
      {{ macros.setting_checkbox('use_kbs', 'KBS', value=arg['use_kbs'], desc=None) }}
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('use_mbc', 'MBC', value=arg['use_mbc'], desc=None) }}
      {{ macros.m_hr() }}
      {{ macros.setting_checkbox('use_sbs', 'SBS', value=arg['use_sbs'], desc=None) }}
      {{ macros.setting_checkbox('sbs_use_proxy', 'Proxy 사용', value=arg['sbs_use_proxy'], desc=['URL을 얻을 때만 사용']) }}
      {{ macros.setting_input_text('sbs_proxy_url', 'Proxy URL', value=arg['sbs_proxy_url'], desc=None) }}
    {{ macros.m_tab_content_end() }} 

    {{ macros.m_tab_content_start('youtubedl', false) }}
      {{ macros.setting_checkbox('use_youtubedl', 'Youtube-dl', value=arg['use_youtubedl'], desc=None) }}
      <div id="use_youtubedl_div" class="collapse">
        {{ macros.info_text('tmp_is_youtubedl_installed', '설치상태', value=arg['tmp_is_youtubedl_installed']) }}
        {{ macros.setting_checkbox('youtubedl_use_proxy', 'Proxy 사용', value=arg['youtubedl_use_proxy'], desc=['URL을 얻을 때만 사용']) }}
        {{ macros.setting_input_text('youtubedl_proxy_url', 'Proxy URL', value=arg['youtubedl_proxy_url'], desc=['참고 : https://www.proxynova.com/proxy-server-list/country-kr']) }}
        {{ macros.setting_input_textarea_wide('youtubedl_list', '채널 목록', desc=['형식 : 채널ID|채널이름|채널URL', '채널별 구분자 Enter'], value=arg['youtubedl_list'], row='20') }}
      </div>
    {{ macros.m_tab_content_end() }} 
    
    {{ macros.m_tab_content_start('streamlink', false) }}
      {{ macros.setting_checkbox('use_streamlink', 'Streamlink', value=arg['use_streamlink'], desc=None) }}
      <div id="use_streamlink_div" class="collapse">
        {{ macros.info_text('tmp_is_streamlink_installed', '설치상태', value=arg['tmp_is_streamlink_installed']) }}
        {{ macros.setting_input_text('streamlink_quality', 'streamlink 화질', col='3', value=arg['streamlink_quality']) }}
        {{ macros.setting_input_textarea_wide('streamlink_list', '채널 목록', desc=['형식 : 채널ID|채널이름|채널URL', '채널별 구분자 Enter'], value=arg['streamlink_list'], row='20') }}
      </div>
    {{ macros.m_tab_content_end() }} 

    {{ macros.m_tab_content_start('navertv', false) }}
      {{ macros.setting_checkbox('use_navertv', '네이버TV', value=arg['use_navertv'], desc=None) }}
      <div id="use_navertv_div" class="collapse">
        {{ macros.setting_input_textarea_wide('navertv_list', '채널 목록', desc=['형식 : 채널ID|채널이름|채널URL|화질. |화질 생략시 1080', '채널별 구분자 Enter'], value=arg['navertv_list'], row='20') }}
      </div>
    {{ macros.m_tab_content_end() }} 

    {{ macros.m_tab_content_start('kakaotv', false) }}
      {{ macros.setting_checkbox('use_kakaotv', '카카오TV', value=arg['use_kakaotv'], desc=None) }}
      <div id="use_kakaotv_div" class="collapse">
        {{ macros.setting_input_textarea_wide('kakaotv_list', '채널 목록', desc=['형식 : 채널ID|채널이름|채널URL', '채널별 구분자 Enter. 360p만 가능'], value=arg['kakaotv_list'], row='20') }}
      </div>
    {{ macros.m_tab_content_end() }} 

    {{ macros.m_tab_content_start('direct', false) }}
      {{ macros.setting_checkbox('use_fix_url', '고정주소', value=arg['use_fix_url'], desc=None) }}
      <div id="use_fix_url_div" class="collapse">
        {{ macros.setting_input_textarea_wide('fix_url_list', '채널 목록', desc=['형식 : 채널ID|채널이름|채널URL|{TV면 Y, 라디오면 N}', '채널별 구분자 Enter', '참고 : https://iptvcat.com/south_korea'], value=arg['fix_url_list'], row='20') }}
      </div>
    {{ macros.m_tab_content_end() }} 


    {{ macros.m_tab_content_start('api', false) }}
      {{ macros.info_text_go('api_m3u', 'M3U', value=arg['api_m3u'], desc=['Custom 채널에 대한 M3U']) }}
      {{ macros.info_text_go('api_m3utvh', 'M3U for Tvheadend', value=arg['api_m3utvh'], desc=['Tvheadend 채널 등록시 사용하는 M3U']) }}
      {{ macros.info_text_go('xmltv', 'XMLTV', value=arg['xmltv'], desc=['일반 EPG']) }}
      {{ macros.info_text_go('api_m3uall', 'M3U (All)', value=arg['api_m3uall']) }}
      {{ macros.setting_checkbox('use_plex_proxy', 'Plex Proxy API 사용', value=arg['use_plex_proxy'], desc=['On: Plex Proxy API 사용.', '/klive/proxy/lineup.json 주소를 통한 apikey 노출 됨.']) }}
      <div id="use_plex_proxy_div" class="collapse">
        {{ macros.info_text_go('plex_proxy', 'Plex Proxy', value=arg['plex_proxy']) }}
      </div>
    {{ macros.m_tab_content_end() }}
    </form>
</div>

<script type="text/javascript">
var package_name = "{{ arg['package_name'] }}";
var current_data = null;
var youtubedl_installed = "{{ arg['tmp_is_youtubedl_installed'] }}"  == 'Installed' ? true : false;
var streamlink_installed = "{{ arg['tmp_is_streamlink_installed'] }}"  == 'Installed' ? true : false;


$(document).ready(function(){
  use_collapse("use_wavve")
  use_collapse("use_tving")
  use_collapse("use_streamlink")
  use_collapse("use_youtubedl")
  use_collapse("use_navertv")
  use_collapse("use_kakaotv")
  use_collapse("use_fix_url")
  use_collapse("use_plex_proxy");
});

$('#use_wavve').change(function() {use_collapse('use_wavve');});
$('#use_tving').change(function() {use_collapse('use_tving');});
$('#use_streamlink').change(function() {use_collapse('use_streamlink');});
$('#use_youtubedl').change(function() {use_collapse('use_youtubedl');});
$('#use_navertv').change(function() {use_collapse('use_navertv');});
$('#use_kakaotv').change(function() {use_collapse('use_kakaotv');});
$('#use_fix_url').change(function() {use_collapse('use_fix_url');});
$('#use_plex_proxy').change(function() {use_collapse('use_plex_proxy');});


$("body").on('click', '#get_tving_logindata_btn', function(e){
  e.preventDefault();
  get_logindata('tving');
});

$("body").on('click', '#get_wavve_logindata_btn', function(e){
  e.preventDefault();
  get_logindata('wavve');
});

function get_logindata(site) {
  $.ajax({
    url: '/' + package_name + '/ajax/get_logindata',
    type: "POST", 
    cache: false,
    data:{site:site},
    dataType: "json",
    success: function (data) {
      document.getElementById("modal_title").innerHTML = "로그인 정보";
      document.getElementById("modal_body").innerHTML = "<pre>"+data + "</pre>";
      $("#large_modal").modal();
    }
  });
}




</script>    
{% endblock %}