{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
{% endblock %}

{% block content %}
<style type="text/css">
  .table {
    table-layout: fixed;
  }
</style>

<div class="container col-sm-8 d-flex justify-content-center align-items-center mt-3 mb-3">
<video id="hjs1" controls="" autoplay="false" playsinline="" style="width: 100%; background-color: black;"></video>
</div>

<div>
  {{ macros.m_button_group([['list_channel_reload_btn', '새로고침']])}}
  <p id="list_info" class="mt-2 mb-1 text-sm small text-muted">마지막 업데이트:</p>
  <div id="list_div" class="mb-3">
    <table id="result_table" class="table table-sm table-striped table-hover">
        <thead class="thead-dark"><tr>
          <th style="width:5%; text-align:center;" class="text-truncate"></th>
          <th style="width:10%; text-align:left;" class="text-truncate">소스</th>
          <th style="width:20%; text-align:left;" class="text-truncate">채널</th>
          <th style="width:50%; text-align:left;" class="text-truncate">방송 중 프로그램</th>
          <th style="width:15%; text-align:center;" class="text-truncate">Action</th>
        </tr></thead>
        <tbody id="channel-list">
        <template id="channel-template"><tr>
          <td scope="col" style="width:5%; text-align:center;" id="channel-idx" class="text-truncate"></td>
          <td scope="col" style="width:10%; text-align:left;" id="channel-source" class="text-truncate"></td>
          <td scope="col" style="width:20%; text-align:left;" id="channel-name" class="text-truncate"></td>
          <td scope="col" style="width:50%; text-align:left;" id="channel-program" class="text-truncate"></td>
          <td scope="col" style="width:15%; text-align:center;" id="channel-action" class="text-truncate"></td>
        </tr></template>
      </tbody>
    </table>
  </div>

</div> <!--전체-->
<form name="playform">
  <input type="hidden" id="play_title" name="play_title">
  <input type="hidden" id="play_source_src"  name="play_source_src">
  <input type="hidden" id="play_source_type"  name="play_source_type">
</form>

<script type="text/javascript">

var channelTemplate = document.querySelector('#channel-template');
var channelScroller = document.querySelector('#channel-list');

var video = document.getElementById('hjs1');
var hls;

$(document).ready(function(){
  load_channel_list(false);
});

function load_channel_list(reload) {
  reset_channel_list('로딩중...');
  $.ajax({
    url: `/${PACKAGE_NAME}/ajax/channel_list`,
    type: "POST",
    cache: false,
    data: {reload: reload},
    dataType: "json",
    success: function (data) {
      $('#list_info').html(`마지막 업데이트: ${data.updated_at}`);
      make_channel_list(data.list);
    }
  });
}


$("body").on('click', '#list_channel_reload_btn', function(e) {
  e.preventDefault();
  load_channel_list(true);
});

function get_play_url(source, channel_id, web_play, callback) {
  $.ajax({
    url: `/${PACKAGE_NAME}/ajax/play_url`,
    type: "POST",
    cache: false,
    data: {source: source, channel_id: channel_id, web_play: web_play},
    dataType: "json",
    success: function (ret) {
      callback(ret);
    }
  });
}

function loadSource(url) {
  if (hls) {
    hls.destroy();
    hls = null;
  }
  hls = new Hls();
  hls.loadSource(url);
  hls.attachMedia(video);

  hls.on(Hls.Events.ERROR, function (event, data) {
    if (data.fatal) {
      switch (data.type) {
        case Hls.ErrorTypes.MEDIA_ERROR:
          console.log('fatal media error encountered, try to recover');
          hls.recoverMediaError();
          break;
        case Hls.ErrorTypes.NETWORK_ERROR:
          console.error('fatal network error encountered', data);
          // All retries and media options have been exhausted.
          // Immediately trying to restart loading could cause loop loading.
          // Consider modifying loading policies to best fit your asset and network
          // conditions (manifestLoadPolicy, playlistLoadPolicy, fragLoadPolicy).
          break;
        default:
          // cannot recover
          hls.destroy();
          break;
      }
    }
  });
  hls.on(Hls.Events.MANIFEST_PARSED,function() {
    video.play();
  });
}

$("body").on('click', '#play_btn', function(e){
  e.preventDefault();
  get_play_url($(this).data('source'), $(this).data('id'), true, function(ret) {
    if (ret.data == null) {
      notify('에러', 'danger');
      return;
    }
    loadSource(ret.data.url);
  });
});

$("body").on('click', '#play_url_btn', function(e){
  e.preventDefault();
  get_play_url($(this).data('source'), $(this).data('id'), false, function(ret) {
    if (ret.data == null) {
      notify('에러', 'danger');
      return;
    }
    str = ret.data.url + '<br><br>';
    tmp = j_button('globalCliboardBtn', '클립보드 복사', {'text':ret.data.url}, 'success');
    tmp += j_button('globalOpenBtn', '새창에서 열기', {'url':ret.data.url}, 'success');
    str += j_button_group(tmp);
    showModal(str, ret.data.title, false);
  });
});

function make_channel_list(data) {
  if (data == null) {
    return;
  }
  reset_channel_list();

  count = 0;
  for (i in data) {
    let channel_clone = channelTemplate.content.cloneNode(true);
    channel_clone.querySelector('#channel-idx').innerHTML = parseInt(i)+1;
    channel_clone.querySelector('#channel-source').innerHTML = data[i].source_name;
    channel_clone.querySelector('#channel-source').title = data[i].source;    
    if (!data[i].is_tv) {
      channel_clone.querySelector('#channel-name').innerHTML += '<span class="mr-1" title="라디오">📻</span>';
    }
    channel_clone.querySelector('#channel-name').innerHTML += data[i].name;
    channel_clone.querySelector('#channel-name').title = data[i].channel_id;
    if (!data[i].program.onair) {
      channel_clone.querySelector('#channel-program').innerHTML += '<span class="mr-1" title="송출 불가 프로그램">🔒</span>';
    }
    if (data[i].program.targetage > 18) {
      channel_clone.querySelector('#channel-program').innerHTML += '<span class="mr-1" title="19세">🔞</span>';
    }
    channel_clone.querySelector('#channel-program').innerHTML += data[i].program.title;
    channel_clone.querySelector('#channel-program').title = data[i].program.program_id;

    buttons = '';
    if (data[i].source == "wavve" || data[i].source == "tving" || data[i].source == "mbc" || data[i].source == "kbs" || data[i].source == "sbs") {
      buttons += j_button('play_btn', 'PLAY', {'source':data[i].source,'id':data[i].channel_id}, 'success', false, true);
    }
    buttons += j_button('play_url_btn', 'URL', {'source':data[i].source,'id':data[i].channel_id}, 'info', false, true);
    buttons = j_button_group(buttons);
    channel_clone.querySelector('#channel-action').innerHTML = buttons;

    channelScroller.appendChild(channel_clone);
    count++;
  }
  if (count == 0) reset_channel_list('데이터가 없습니다.');
}

function reset_channel_list(msg='') {
  channelScroller.querySelectorAll('tr').forEach(e => e.remove());
  if (msg != null && msg != '') {
    channelScroller.insertAdjacentHTML('beforeend', `<tr><td colspan="6">${msg}</td></tr>`);
  }
}

</script>
{% endblock %}